
<div class="col-md-4 col-md-offset-4 center profile">
  <%=  render 'shared/page_title' , title: "All Users" %>
</div>
<div class="row"></div>

</div>
<div align="center"><%= will_paginate %></div>

<% @users.each do |user| %>
<div class="row">
 
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div class="row space-16">&nbsp;</div>
    <div class="row">
      <div class="col-sm-4 col-md-offset-4 ">
        <div class="thumbnail">
           <div>
          <div class="caption text-center" <%= link_to user.gravatar_for(user), user_path(user) %>
            <h4 id="thumbnail-label"><a href="" target="_blank"><%= link_to user.username, user_path(user) %></a></h4>
            <% if logged_in? && current_user.admin? && !user.admin? %>
                 <%= link_to "Delete User", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete user and assosciated post?" } %>
               <% end  %>
            <p><i class="glyphicon glyphicon-dashboard light-red lighter bigger-120"></i>&nbsp;<small><%= pluralize(user.posts.count, "posts") if user.posts %></small></p>
            <div class="thumbnail-description smaller">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, voluptatibus labore at accusamus saepe. Asperiores iusto deserunt pariatur architecto qui aperiam, dolorum culpa adipisci inventore, ipsa vero nesciunt tenetur alias?</div>
          </div>
          <div class="caption card-footer text-center">
            <ul class="list-inline">
              <li><i class="people lighter"></i>&nbsp;7 Folowers</li>
              <li></li>
              <li><i class="glyphicon glyphicon-info-sign lighter"></i><a href="#">&nbsp;More</a></li>
            </ul>
          </div>
        </div>
         </div>
      </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
  </div>
 
</div>
<% end %>
<div align="center"><%= will_paginate %></div>


  