<!--iterate through all posts-->
<% obj.each do |post| %>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 well">
      <%= gravatar_for(post.user, size: 30) %>
      <h4><%= link_to post.name, post_path(post)  %></h4>
      <p><%= truncate(post.description, length: 150)  %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(post.created_at) %> ago</small></span>
      </p>
      <% if logged_in? && (current_user == post.user || current_user.admin?) %>
        <div class="post-actions">
            <%=  link_to "Edit Post", edit_post_path(post), class: "btn btn-md btn-warning" %>
            <%=  link_to "Delete Post", post_path(post), method: :delete,
                             data: { confirm: "Are you sure you want to deleyte this post?" },
                             class: "btn btn-md btn-warning" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-1">
    </div>
    
  </div>

<% end %>