<!--/posts/id-->

<div class="col-md-8 col-md-offset-2">
  <%=  render 'shared/page_title', title: @post.name %>
  <%= simple_format(@post.description) %>
  <div class="pull-right">
    <p>
      
    </p>
    <p><em>Author: </em>
      <small> <%= @post.user.username %></small>
      <div class=""><%=  time_ago_in_words(@post.created_at) %>  ago</div>
    </p>
    <hr />
  </div>
  <div class="post-actions">
    <% if logged_in? && (current_user == @post.user || current_user.admin?)%>
       <%=  link_to "Edit Post", edit_post_path(@post), class: "btn btn-md btn-warning" %>
       <%=  link_to "Delete Post", post_path(@post), method: :delete,
                             data: { confirm: "Are you sure you want to deleyte this post?" },
                             class: "btn btn-md btn-warning" %>
    <% end %>
    <%=  link_to "All Posts", posts_path(@post), class: "btn btn-md btn-warning" %>
  
  </div>
  
  <!--FORM FOR CREATING COMMENTS-->
  <% if logged_in?  %>
  <div class="row">
    <div class="col=md-8">
    <div class="row"></div>
      <%= form_for([@post, @comment], :html => {class: "form-horizontal", role: "form"}) do |f|  %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 8, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10 ">
            <%= f.submit "Submit", class: "btn btn-md btn-warning"  %>
          </div>
        </div>
      <% end %>
  
    </div>
  </div>
<%  end %>
</div>


<!--if there are comments asociated with this post, pass in that object:@comments to the folder comments partial in views-->
<% if @post.comments != 0 %>
    <div class="row">
    <div class="col-md-8  col-md-offset-2">
     
      <div id="messages">
        <%= render partial: 'comments/comments', object: @comments %>
      </div>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col-md-8  col-md-offset-2">
      <h5>No Comment Yet!</h5>
    </div>
  </div>
<% end %>

 