
<div class="well col-md-8 col-md-offset-2">
 <%=  render 'shared/page_title', title: @post.name %>
  <h4 class=""><strong>Steps: </strong></h4>
  
  <%= simple_format(@post.description) %>
  <div class="pull-right">
      <p>
        <%= link_to gravatar_for(@post.user), posts_path %>
      </p>
      <p><em>Author: </em>
        <small>
          <%= @post.user.username %>
        </small>
        <div class=""><%=  time_ago_in_words(@post.created_at) %>  ago</div>
      </p>
   </div>
   <div class="post-actions">
      <%=  link_to "Edit", edit_post_path(@post), class: "btn btn-md btn-warning" %>
      <%=  link_to "Delete", post_path(@post), method: :delete,
                             data: { confirm: "Are you sure you want to deleyte this post?" },
                             class: "btn btn-md btn-warning" %>
      <%=  link_to "All Posts", posts_path(@post), class: "btn btn-md btn-primary" %>
   </div>
</div>